WeatherWS/WebContent/wsdl/TwoDays.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tools" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://tools" xmlns:intf="http://tools" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://tools" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="twoDaysData">
    <complexType>
     <sequence>
      <element name="zip" type="xsd:string"/>
      <element name="city" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="twoDaysDataResponse">
    <complexType>
     <sequence>
      <element name="twoDaysDataReturn" type="impl:WeatherInfo"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="WeatherInfo">
    <sequence>
     <element name="a_humidity" nillable="true" type="xsd:string"/>
     <element name="a_pressure" nillable="true" type="xsd:string"/>
     <element name="a_rising" nillable="true" type="xsd:string"/>
     <element name="a_visibility" nillable="true" type="xsd:string"/>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="code" nillable="true" type="xsd:string"/>
     <element name="code1" nillable="true" type="xsd:string"/>
     <element name="code2" nillable="true" type="xsd:string"/>
     <element name="country" nillable="true" type="xsd:string"/>
     <element name="date" nillable="true" type="xsd:string"/>
     <element name="date1" nillable="true" type="xsd:string"/>
     <element name="date2" nillable="true" type="xsd:string"/>
     <element name="day1" nillable="true" type="xsd:string"/>
     <element name="day2" nillable="true" type="xsd:string"/>
     <element name="errorMsg" nillable="true" type="xsd:string"/>
     <element name="ext" nillable="true" type="xsd:string"/>
     <element name="high1" nillable="true" type="xsd:string"/>
     <element name="high2" nillable="true" type="xsd:string"/>
     <element name="latit" nillable="true" type="xsd:string"/>
     <element name="longit" nillable="true" type="xsd:string"/>
     <element name="low1" nillable="true" type="xsd:string"/>
     <element name="low2" nillable="true" type="xsd:string"/>
     <element name="region" nillable="true" type="xsd:string"/>
     <element name="sunrise" nillable="true" type="xsd:string"/>
     <element name="sunset" nillable="true" type="xsd:string"/>
     <element name="temp" nillable="true" type="xsd:string"/>
     <element name="text" nillable="true" type="xsd:string"/>
     <element name="text1" nillable="true" type="xsd:string"/>
     <element name="text2" nillable="true" type="xsd:string"/>
     <element name="u_distance" nillable="true" type="xsd:string"/>
     <element name="u_pressure" nillable="true" type="xsd:string"/>
     <element name="u_speed" nillable="true" type="xsd:string"/>
     <element name="u_temperature" nillable="true" type="xsd:string"/>
     <element name="w_chill" nillable="true" type="xsd:string"/>
     <element name="w_direction" nillable="true" type="xsd:string"/>
     <element name="w_speed" nillable="true" type="xsd:string"/>
     <element name="zip" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="twoDaysDataRequest">

      <wsdl:part element="impl:twoDaysData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="twoDaysDataResponse">

      <wsdl:part element="impl:twoDaysDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TwoDays">

      <wsdl:operation name="twoDaysData">

         <wsdl:input message="impl:twoDaysDataRequest" name="twoDaysDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:twoDaysDataResponse" name="twoDaysDataResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TwoDaysSoapBinding" type="impl:TwoDays">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="twoDaysData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="twoDaysDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="twoDaysDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TwoDaysService">

      <wsdl:port binding="impl:TwoDaysSoapBinding" name="TwoDays">

         <wsdlsoap:address location="http://localhost:8080/WeatherWS/services/TwoDays"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
